/*
#eeeeee	(238,238,238)
#dddddd	(221,221,221)
#cccccc	(204,204,204)
#bbbbbb	(187,187,187)
#9a9a9a	(154,154,154)

*/
body {
    background-color: #fefeff; /* Replace with your desired color */
    margin: 0;                 /* Remove default margin */
    padding: 0;                /* Remove default padding */
    min-height: 100vh;         /* Ensure body takes at least full viewport height */
}

.header {
    display: flex;
    padding-top: 10px;
    align-items: center;
    justify-content: right;
    background-color: #fefeff;
    margin-top: 0;
    padding-right: 10px;
   
}
.workout-page-container{
    padding-top: 0px;
    width:10;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.page{
    margin-top: 0px;
    width: 100%;
    height: 100%;
}


.workout-item {
    background-color: #fafcfe; 
    border-color: #cccccc;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    flex: 1; /* Adjusts the flex item to take up equal space */
    width: 100%;         
    margin-right: 5%;
    max-width: 800px; 
    min-width: 200px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08); /* Subtle, soft shadow */
}   


.workout-container {
    flex: 2;    
    width: 100%;
    max-width: 1000px;
    min-width: 500px;
    margin-top: 20px;
    display: flex;
    flex-direction: column; /* or 'column' to stack vertically */
    gap: 20px; /* Adds space between the Workout components */
    /* Allows wrapping to the next line if there's not enough space */

}

.body-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
     /* Full viewport height */
    padding-left: 3vw;
    padding-top: 3vh;
    padding-right: 3vh;
}


.workout-form{
    
    padding: 20px;
    max-width: 300px;
    min-width: 200px;
}

/* Button styling */
.create-button {
    padding: 10px 20px;
    background-color: #1eaef6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.create-button:hover {
    background-color: #1c87c9;
}
.popup-overlay.show {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
  }

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Popup content */
.popup-content {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    max-height: 90%;
    overflow-y: auto;
    z-index: 1001;
}


/* Close button */
.close-button {
    padding: 5px 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;

}

.close-button:hover {
    background-color: #c0392b;
    color:white;
}
