.workout-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom:10px;
    padding-left: 30px;
    margin: 0px;
}


.workout-text{
    text-align: left;
    margin: 0px;
}

.workout-tile{
    padding-top: 10px;
    padding-bottom: 13px;

}
.activity-row{
    display:flex;
    flex: row;
    border-top: 1px solid #cccccc;
    padding-top:5px;
    padding-bottom: 5px;
    cursor: pointer;
}
.activity-row:hover{
    background-color: #e1e6e9;   
    cursor: default;
}

.edit-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-left:45px;
}

.edit-icon {
    width: 24px; /* Set your desired width */
    height: 24px; /* Set your desired height */
}

.edit-button:hover .edit-icon {
    opacity: 0.8; /* Optional: Add a hover effect */
}

.activities-tile{
    border-bottom: 1px solid #cccccc;
    
}

.delete-workout-button{
    margin-right: 9px;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    border: 1px black solid;
    color: #fefeff;
    background-color: #fefeff;
}

.delete-workout-button:hover{
    background-color: rgb(168, 9, 9);
    color: white;
    cursor: pointer;
    
}